# Seems like the team creating these on MacOS.
#
0
.DS_Store
__MACOSX

# other Mac-specific files we would never need
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Linux
.directory

# windows
thumbs.db
